<form target="_top" class="form-group mt-4" action="/auth/google" method="GET">
    <a href="/auth/signup" style="font-size: 14px;" class="btn btn-sm btn-outline-secondary mr-2">register
    </a>
    <button type="submit" class="btn btn-sm btn-outline-secondary"
        style="display:flexbox; align-content:space-around;"><span
            style="vertical-align: middle;align-content: space-around;">Signin with <i
                class="mdi mdi-google text-danger"></i>oogle</span>
    </button>
</form>